<% provide(:title, "Workouts") %>
<% provide(:button_text, "Create") %>

<!-- MAIN PAGE CONTENT -->
<div class="row">
  <h1 class="page-header">Workouts</h1>
  <%= link_to "Create New Workout", new_workout_path, class: "btn btn-primary" %>

  <% if @workouts.any? %>
    <div class="workouts">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= sortable "date" %><%= sortable_class "date" %></th>
            <th><%= sortable "title", "Name" %><%= sortable_class "title" %></th>
            <th><%= sortable "mood" %><%= sortable_class "mood" %></th>
            <th><%= sortable "begin", "Start Time" %><%= sortable_class "begin" %></th>
            <th><%= sortable "end", "End Time" %><%= sortable_class "end" %></th>
            <th><%= sortable "workout_type_id", "Type" %><%= sortable_class "workout_type_id" %></th>
          </tr>
        </thead>
        <tbody id="container_workouts">
          <%= render @workouts %>
        </tbody>
      </table>
    </div>
  <% else %>
    <h4>You should try creating a new workout.</h4>
    <h3><%= link_to "Start Here", new_workout_path %></h3>
  <% end %>
</div>
