<% provide(:title, @workout.title) %>

<!-- MAIN PAGE CONTENT -->
<div class="row">
  <aside class="col-md-6">
    <section class="workout_info">
      <h1 class="page-header"><%= @workout.title %></h1>
      <h4>Info</h4>
      <ul>
        <li>Date: <%= @workout.date %></li>
        <li>How I felt: <%= @workout.mood %></li>
        <li><%= @workout.workout_type.name %></li>
        <% if @workout.begin %>
          <li>Start Time: <%= @workout.begin.strftime("%I:%M %p") %></li>
        <% end %>
        <% if @workout.end %>
          <li>End Time: <%= @workout.end.strftime("%I:%M %p") %></li>
        <% end %>
      </ul>
    </section>
  </aside>

<!-- Exercises -->
  <div class="col-md-6">
    <%= link_to "New Exercise", new_workout_exercise_path(@workout), class: "btn btn-primary" %>
    <% if @workout.exercises.any? %>
      <h3>Exercises (<%= @workout.exercises.count %>)</h3>
      <table class="table table-sriped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @exercises.each do |exercise, n=0| %>
          <% n += 1 %>
            <tr>
              <td><%= n %>. <%=link_to exercise.name, workout_exercise_path(@workout, exercise) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<hr>
