<% provide(:title, @workout.title) %>

<!-- MAIN PAGE CONTENT -->
<div class="row">
  <aside class="col-md-4">
    <section class="workout_info">
      <h1><%= @workout.title %></h1>
      <h4>Info</h4>
      <ul>
        <li>Date: <%= @workout.date %></li>
        <li>How I felt: <%= @workout.mood %></li>
        <li><%= @workout.workout_type.name %></li>
        <% if @workout.begin %>
          <li>Start Time: <%= @workout.begin.strftime("%I:%M %p") %></li>
        <% end %>
        <% if @workout.end %>
          <li>End Time: <%= @workout.end.strftime("%I:%M %p") %></li>
        <% end %>
      </ul>
    </section>
  </aside>

<!-- Exercises -->
  <div class="col-md-8">
    <%= link_to "New Exercise", new_workout_exercise_path(@workout), class: "btn btn-primary" %>
    <% if @workout.exercises.any? %>
      <h3>Exercises (<%= @workout.exercises.count %>)</h3>
      <% @exercises.each do |e| %>
        <ul>
          <li><%= link_to e.name, workout_exercise_path(@workout, e) %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

<hr>
