<tr id="set_<%= exercise_set.id %>">
  <td><%= exercise_set.number  %></td>
  <td><%= exercise_set.reps    %></td>
  <td><%= exercise_set.weight  %></td>
  <td><%= link_to "X", workout_exercise_set_path(@workout, @exercise, exercise_set.id), method: :delete, data: { confirm: "Do you want to delete this set?" }, class: "btn btn-small btn-danger" %></td>
</tr>
