<%= form_for [@workout, @set], :html => {:class => "form-inline"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :number, class: "sr-only" %>
    <%= f.number_field :number, class: "form-control", placeholder: "Number" %>
  </div>

  <div class="form-group">
    <%= f.label :reps, class: "sr-only" %>
    <%= f.number_field :reps, class: "form-control", placeholder: "Reps" %>
  </div>

  <div class="form-group">
    <%= f.label :weight, class: "sr-only" %>
    <%= f.number_field :weight, class: "form-control", placeholder: "Weight" %>
  </div>

  <%= f.button yield(:button_text), class: "btn btn-primary" %>

<% end %>
